body{
    display: flex;
    justify-content: right;
    align-items: center;
    background-position: top 50% right 110em;
}

.containerLogin {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 45%;
    /* height: 46em; */
    padding: 5em;
}

#login {
    background-color: rgb(3, 4, 11);
    box-shadow:5px 5px 30px rgb(84, 56, 36);
    width: 100%;
    padding: 4em;
    padding-top: 2em;
    text-align: center;
}

.separate{
    margin-top: -2em;
}

#login:hover {
    box-shadow:5px 5px 30px rgb(197, 143, 102);
}

body {
    background-color: rgb(3, 4, 11);
}

.inputLogin {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    border-bottom: rgb(117, 117, 117) 2px solid;
    border-radius: 0;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: large;
    color: rgb(219, 219, 219);
}

.inputLogin:focus, .inputLogin:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(197, 143, 102, 0.5); /* Desplazamiento vertical de 2px */
    border: 0;
    color: rgb(219, 219, 219);
}


.buttonLogin:hover {
    background-color: rgb(197, 143, 102) !important;
    border-color: rgb(197, 143, 102);
}

.inputLogin::placeholder, #emailIcon, #passwordIcon {
    color: rgb(219, 219, 219);
    transition: color 0.3s ease;
}


#passwordIcon{
    margin-top: .5em;
}

#arrowLeft{
    color: rgb(178 121 76/1);
    margin-left: -3em;
}

#forget{
    /* margin-left: 5em; */
    color: rgb(184, 183, 183);
    text-decoration: none;
    font-weight: bold;
}

#forget:hover{
    color: rgb(197, 143, 102);
}

.buttonLogin {
    background-color: rgb(178 121 76/1) !important;
    margin-top: 2em;
    margin-bottom: 1em;
}

.nav{
    display: none;
}

@media only screen and (max-width: 1440px) { 
    .containerLogin {
        width: 40%;
        padding: 3em;
    }
}

@media only screen and (max-width: 1024px) { 
    .containerLogin {
        width: 50%;
        padding: 3em;
    }
}

@media only screen and (max-width: 991.98px) { 
    body{
        background-position: top 50% right 90em;
    }
    .containerLogin {
        width: 60%;
        padding: 3em;
    }
}

@media only screen and (max-width: 768px) { 

    .containerLogin {
        width: 70%;
        padding: 3em;
    }


}

@media only screen and (max-width: 576px) { 

    .containerLogin {
        width: 80%;
        padding: 3em;
    }
    body{
        background-position: top 100% right 70em;
    }
}

@media only screen and (max-width: 428px) { 
    .containerLogin {
        width: 100%;
        padding: 3em;
    }
}

@media only screen and (max-width: 376px) { 

}

@media only screen and (max-width: 320px) { 

}