.containerRegister, .containerRegister {
    background-image: url('image/bg-woman.webp');
    background-position: top 100% left 100em;
    width: 100%;
    height: 46em;
    padding: 5em;
}

#register, #register {
    background-color: rgb(3, 4, 11);
    box-shadow:5px 5px 30px rgb(84, 56, 36);
    width: 35%;
    height: 35em;
    padding: 5em;
    margin-left: 45em;
}

.separate{
    margin-top: -2em;
}

#register:hover {
    box-shadow:5px 5px 30px rgb(197, 143, 102);
}

body {
    background-color: rgb(3, 4, 11);
}

.inputRegister {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    border-bottom: rgb(117, 117, 117) 2px solid;
    border-radius: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-top: -1.7em;
    margin-left: 1em;
    font-size: large;
    color: rgb(219, 219, 219);
}

.inputRegister:focus, .inputRegister:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(197, 143, 102, 0.5); 
    border: 0;
    color: rgb(219, 219, 219);
}


.buttonRegister:hover {
    background-color: rgb(197, 143, 102) !important;
    border-color: rgb(197, 143, 102);
}

.inputRegister::placeholder, #emailIcon, #passwordIcon, #nameIcon, #lastnameIcon, #countryIcon, #mobileIcon, #verifyPass {
    color: rgb(219, 219, 219);
}

#arrowLeft{
    color: rgb(178 121 76/1);
    margin-left: -3em;
}

#forget:hover{
    color: rgb(197, 143, 102);
}

.buttonRegister {
    background-color: rgb(178 121 76/1) !important;
    margin-top: 1em;
}


.nav{
    display: none;
}
