body{
    background-image: url('image/bg-woman.webp');
    background-attachment: fixed;
    background-position: top 90% right 210em;
}

.logoNavbar{
    width: 6em;
}

.nav-link{
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
}

.nav-link:hover{
    color: rgb(224, 119, 32) !important;
}

.loginButton {
    background-color: rgb(178 121 76/1) !important;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 1em;
    letter-spacing: 0.2rem;
}
  
.loginButton:hover{
    background-color: rgb(197, 143, 102) !important;
}

.containerPolicy{
    background-color: white;
    width: 90em;
    padding: 5em;
    padding-top: 1em;
    margin-left: 1em;
}

.policySmall{
    color: rgb(155, 155, 153);
    font-weight: 600;
}

.separateFirstLetter{
    text-indent: 3rem;  
}

footer{
    width: 100%;
    background-color: white;
}