body{
    background-image: url('image/bg-woman.webp');
}

.logoNavbar{
    width: 6em;
}

.nav-link, a{
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover, a:hover {
    color: rgb(224, 119, 32) !important;
}

.loginButton {
    background-color: rgb(178 121 76/1) !important;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 1em;
    letter-spacing: 0.2rem;
}
  
.loginButton:hover, .buttonSupport:hover{
    background-color: rgb(197, 143, 102) !important;
    border-color: rgb(197, 143, 102);
}

.fa-circle-arrow-left{
    color: rgb(178 121 76/1);
}

.fa-circle-arrow-left:hover{
    color: rgb(197, 143, 102);
}

.containerPolicy, .containerSupport{
    background-color: white;
    width: 100%;
    padding: 5em;
    padding-top: 1em;
}

.policySmall{
    color: rgb(155, 155, 153);
    font-weight: 600;
}

.separateFirstLetter{
    text-indent: 3rem;  
}

footer{
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-areas: "logoFooter policy contact cards";
    padding: 3em;
    padding-left: 5em;
}

.logoFooter{
    grid-area: logoFooter;
}

#policy{
    grid-area: policy;
}

#contact{
    grid-area: contact;
}

#cards{
    grid-area: cards;
}

#support{
    background-color: white;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 5em;
    padding-top: 2em;
    margin: 2em;
}

.buttonSupport, .buttonLogin {
    margin-top: 1em;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: bold;
    background-color: rgb(178 121 76/1);
    border-color: rgb(178 121 76/1);
}


.separate{
    margin-top: 1em;
}

.inputSupport{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.inputSupport:hover {
    box-shadow: 2px 2px 2px 1px rgb(197, 143, 102);
}

.letter{
    color: rgb(219, 219, 219);
}

.fa-user{
    font-weight:lighter;
    color: rgb(219, 219, 219);
}

.icon {
    margin-right: 1em;
    margin-top: 0.5em;
}

.out{
    margin-right: 2em;
}