body{
    background-image: url('image/bg-woman.webp');
    background-attachment: fixed;
}

.logoNavbar{
    width: 6em;
}

.nav-link{
    font-size: 0.8rem;
}

.nav-link:hover{
    color: rgb(224, 119, 32) !important;
}

.loginButton{
    background-color: rgb(178 121 76/1) !important;
}

footer{
    width: 100%;
    background-color: white;
}